* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de navegación */
.menu-principal,
.header-barra {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.menu-principal ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu-principal a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.menu-principal a:hover {
    background-color: #555;
}

.inicio-header,
.bio-header,
.portafolio-section,
.contacto-section {
    padding: 20px;
    text-align: center;
}

.bio-header img,
.portafolio-section img {
    max-width: 15%;
    height: 100px;
}

.portafolio-section img,
.header-barra img {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    border-radius: 100%;
}

.contacto-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

.contacto-section input,
.contacto-section textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contacto-section button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.contacto-section button:hover {
    background-color: #555;
}

.bio-recuadro {
    float: right;
    width: 25%;
    padding: 15px;
    margin: 20px;
    background-color: hsl(0, 23%, 94%);
    border: 1px solid #ddd;
    border-radius: 9px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bio-header {
    width: 65%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    border: 1px solid;
    border-radius: 3%;
}

.bio-main {
    margin: 4%;
    padding: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: start;
}

body {
    background-image: url(/pagina_gege_akutami/assets/gege.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}