@font-face {
    font-family: 'MiFuenteManga';
    src: url('fonts/Mangaka.otf') format('opentype');
}

body {
    font-family: 'MifuenteManga', sans-serif;
}

.header-biografia {
    text-align: center;
    background-color: gray;
}

.header-biografia h6 {
    margin-bottom: 0;
}

.header-biografia h1 {
    margin-top: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 20 px;
}

/* .logo {
    background-color: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
} */
#circle.logo {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}